In [ ]:
# Data manipulation
# Use pandas' pivot and pivot_table functions to perform advanced data reshaping operations.

In [2]:
import pandas as pd

data = {
    'Date': ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles'],
    'Temperature': [32, 75, 31, 77]
}

df = pd.DataFrame(data)
print(df)

         Date         City  Temperature
0  2024-10-01     New York           32
1  2024-10-02  Los Angeles           75
2  2024-10-03     New York           31
3  2024-10-04  Los Angeles           77
City        Los Angeles  New York
Date
2024-10-01          NaN      32.0
2024-10-02         75.0       NaN
2024-10-03          NaN      31.0
2024-10-04         77.0       NaN

In [3]:
## pivot()

df_pivot = df.pivot(index='Date', columns='City', values='Temperature')
print(df_pivot)

City        Los Angeles  New York
Date
2024-10-01          NaN      32.0
2024-10-02         75.0       NaN
2024-10-03          NaN      31.0
2024-10-04         77.0       NaN

In [4]:
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-02'],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
    'Temperature': [32, 75, 31, 77, 30],
    'Humidity': [80, 40, 78, 35, 82]
}

df = pd.DataFrame(data)
print(df)

         Date         City  Temperature  Humidity
0  2024-01-01     New York           32        80
1  2024-01-01  Los Angeles           75        40
2  2024-01-02     New York           31        78
3  2024-01-02  Los Angeles           77        35
4  2024-01-02     New York           30        82

In [5]:
# pivot_table()
df_pivot_table = df.pivot_table(index='Date', columns='City', values='Temperature', aggfunc='mean')
print(df_pivot_table)

City        Los Angeles  New York
Date
2024-01-01         75.0      32.0
2024-01-02         77.0      30.5